body {
  background-color: black;
  height: 800px;
  width: 500px;
  margin: 0px auto;
}
.runway {
  background-color: red;
  height: 800px;
  position: relative;

}
 .note {
  background-color: silver;
  height: 100px;
  width: 500px;
  position: absolute;
}

.end {
  background-color: blue;
  position: absolute;
  bottom: 0%;
  height: 100px;
  width: 500px;
}

.buttons{
  background-color: green;
}

#start{
  background-color: green;
  height: 100px;
  

}
